body{
    border: 0;
    margin: 0;
}

#head{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50px;
    background-color: #1d1d1f;
}

#navbar{
    display: flex;
    align-items: center;
    padding-left: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.navitems{
    padding-right: 30px;
    text-decoration: none;
    color: white;
}

#logo1{
    width: 20px;
}

#div1{
    margin-bottom: 13px;
    width: 100%;
    height: 500px;
    background-image: url('res/asset0.PNG');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#macbook{
    margin-top: 50px;
    margin-bottom: 0;
    font-size: 50px;
}

#mind{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 0;
}

.learn{
    font-size: 20px;
    color: blue;
}

#div2{
    margin-bottom: 13px;
    width: 100%;
    height: 500px;
    background-image: url('res/asset1.PNG');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imac{
    margin-top: 50px;
    margin-bottom: 0;
    font-size: 50px;
}

#packed{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 0;
}

#div3{
    margin-bottom: 5px;
    width: 100%;
    height: 500px;
    background-image: url('res/asset2.PNG');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#iphone{
    margin-top: 50px;
    margin-bottom: 0;
    font-size: 50px;
    color: white;
}

#titanium{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 0;
    color: white;
}

#div4{
    display: flex;
    align-items: center;
    align-items: center;
    margin-bottom: 5px;
    width: 100%;
    height: 570px;
}

#div4left{
    margin-right: 7px;
    margin-left: 10px;
    width: 50%;
    height: 550px;
    background-image: url('res/asset3.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ip15{
    margin-top: 50px;
    margin-bottom: 0;
    font-size: 50px;
}

#new{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 0;
}

#div4right{
    display: flex;
    margin-left: 7px;
    margin-right: 10px;
    width: 50%;
    height: 550px;
    background-image: url('res/asset4.PNG');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#wonder{
    margin-top: 50px;
    margin-bottom: 0;
    font-size: 50px;
}

#give{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0;
}

#div5{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    width: 100%;
    height: 570px;
}

#div5left{
    display: flex;
    margin-right: 7px;
    margin-left: 10px;
    width: 50%;
    height: 550px;
    background-image: url('res/asset31.PNG');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#watch{
    height: 50px;
    margin-top: 50px;
}

#smarter{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0;
    color: white;
}

#div5right{
    display: flex;
    margin-left: 7px;
    margin-right: 10px;
    width: 50%;
    height: 550px;
    background-image: url('res/asset32.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#airpods{
    margin-top: 50px;
    margin-bottom: 0;
    font-size: 50px;
    color: white;
}

#adapt{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0;
    color: white;
}

#div6{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    width: 100%;
    height: 570px;
}

#div6left{
    display: flex;
    margin-right: 7px;
    margin-left: 10px;
    width: 50%;
    height: 550px;
    background-image: url('res/asset33.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#card{
    height: 30px;
    margin-top: 50px;
}

#upto{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0;
}

#div6right{
    display: flex;
    margin-left: 7px;
    margin-right: 10px;
    width: 50%;
    height: 550px;
    background-image: url('res/asset34.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#trade{
    height: 30px;
    margin-top: 50px;
}

#get{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0;
}

#div7{
    width: 100%;
    height: 500px;
    background-image: url('res/asset19.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

footer{
    width: 100%;
    height: 875px;
    background-color: #f5f5f7;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footdiv1{
    height: 290px;
    width: 900px;
}

.footele{
    font-size: 13px;
    color: #6e6e73;
}

#footdiv2{
    height: 470px;
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.footdiv2ele{
    width: 150px;
    height: 465px;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
}

.fdivtitle{
    font-size: 13px;
    color: #1d1d1f;
    font-weight: bold;
}

.fdivele{
    font-size: 13px;
    color: #424245;
    margin-bottom: 10px;
}

#footdiv3{
    height: 63px;
    width: 900px;
}

#moreways{
    margin-top: 30px;
}

#footdiv4{
    height: 40px;
    width: 900px;
    display: flex;
    justify-content: space-between;
}

#privacy{
    margin-right: 150px;
}
